<section class="bg-primary" id="emission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Un magazine qui nous inspire</h2>
                <hr class="light">
                <p class="text-faded">Tous les dimanche à 15 heures, Stéphane Manet et son équipe rencontrent des créatifs et des personnes inspirantes de tous les jours.</p>
                <a href="https://cause-commune.fm/shows/cause-a-effet/" class="btn btn-default btn-xl">Écouter !</a>
            </div>
        </div>
    </div>
</section>
