<section class="bg-primary" id="playlists">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-offset-2 text-left">
                <h2 class="section-heading">Nos playlists</h2>
                <hr class="light">
                <p class="text-faded">Si vous nous écoutez depuis la radio Cause Commune, vous pouvez profiter des coupures musicales. Retrouvez tous les morceaux passés dans notre playlist.</p>
                <a href="https://cause-commune.fm/shows/bonne-nouvelle/" class="btn btn-default btn-xl">Nous retrouver sur le site de la radio !</a>
            </div>
        </div>
        <div class="col-sm-4 col-lg-offset-2 text-left">
<iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/fr/playlist/bonne-nouvelle-cause-commune-93-1-fm/pl.u-9N9LX5NuxZGal56"></iframe>
        </div>
    </div>
</section>
